---
// Styles
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro'
import WindowButton from '../components/WindowButton.astro';
import LinkedInBadge from '../components/LinkedIn-Badge.astro';
import AccordionButton from '../components/AccordionButton.astro';
import LinkButton from '../components/LinkButton.astro';
import Jobs from '../components/Jobs.astro';
import Project from '../components/Project.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';

// Icons
import ProjectIcon from '../assets/icons/Project-Icon.astro';
import AboutIcon from '../assets/icons/About-Icon.astro';
import EducationIcon from '../assets/icons/Education-Icon.astro';
import SkillIcon from '../assets/icons/Skill-Icon.astro';
import JobsIcon from '../assets/icons/Jobs-Icon.astro';
import LinkedInIcon from '../assets/icons/LinkedIn-Icon.astro';
import GitHubIcon from '../assets/icons/GitHub-Icon.astro';
import InstagramIcon from '../assets/icons/Instagram-Icon.astro';
import PhoneIcon from '../assets/icons/Phone-Icon.astro';
import EmailIcon from '../assets/icons/Email-Icon.astro';

// URLs
const linkedInUrl = 'https://www.linkedin.com/in/alvarogmez/';
const gitHubUrl = 'https://github.com/Alvaro-Gmez';
const instagramUrl = 'https://www.instagram.com/aalvarogoomeez/';

// Image
import { Image } from 'astro:assets';
import logotipo from '/public/assets/images/logotipo.webp';
import avatar from '/public/assets/images/alvaro_avatar.webp';
---

<Layout 
  title="Álvaro Gómez - Full Stack Developer"
  description="Contrata a Álvaro Gómez, un desarrollador Full Stack con experiencia en tecnologías modernas como Angular, Spring Boot y más. Crea aplicaciones web rápidas y eficientes con un enfoque en la experiencia del usuario."
  author="Álvaro Gómez"
>
  <section class="flex">
    {/* Sidebar */}
    <aside>
      <div class="flex items-center h-[6vh] group py-5 px-7 border-b border-[--border-color]">
        <WindowButton class="bg-red-500" href="assets/icons/close-icon.png" alt="Close"/>
        <WindowButton class="bg-yellow-500" href="assets/icons/subtract-icon.png" alt="Minimize"/>
        <WindowButton class="bg-green-500" href="assets/icons/full-screen-icon.png" alt="Full screen"/>
      </div>
      <div class="px-8 pt-6">
        <div class="flex flex-col gap-1.5 mb-6">
          <AccordionButton title="Categorias"/>
          <LinkButton href="#about">
            <AboutIcon/>Sobre mí
          </LinkButton>
          <!-- <LinkButton href="#jobs">
            <JobsIcon/>Experiencia
          </LinkButton> -->
          <LinkButton href="#projects">
            <ProjectIcon/>Projectos
          </LinkButton>
          <LinkButton href="#education">
            <EducationIcon/>Educación
          </LinkButton>
          <LinkButton href="#skills">
            <SkillIcon/>Habilidades
          </LinkButton>
        </div>
        <div class="flex flex-col gap-1.5 mb-6">
          <AccordionButton title="Contactos"/>
          <LinkButton href={linkedInUrl} target="_blank" rel="noopener">
            <LinkedInIcon/>LinkedIn
          </LinkButton>
          <LinkButton href={gitHubUrl} target="_blank" rel="noopener">
            <GitHubIcon/>GitHub
          </LinkButton>
          <LinkButton href={instagramUrl} target="_blank" rel="noopener">
            <InstagramIcon/>Instagram
          </LinkButton>
          <LinkButton class="copy-btn" data-copy="+34672775698" aria-label="Copiar correo">
            <PhoneIcon/>Teléfono
            <span class="absolute px-3 py-2 text-sm rounded-lg bg-[var(--main-bg)] backdrop-blur-lg border border-[--border-color] text-white 
                          transition-all duration-500 transform translate-y-10 translate-x-1
                          opacity-0 pointer-events-none copy-tooltip"
            >
              ¡Teléfono copiado!✅
            </span>
          </LinkButton>
          <LinkButton class="copy-btn" data-copy="gomezdelgadoalvaro04@gmail.com" aria-label="Copiar correo">
            <EmailIcon/>Correo
            <span class="absolute px-3 py-2 text-sm rounded-lg bg-[var(--main-bg)] backdrop-blur-lg border border-[--border-color] text-white 
                          transition-all duration-500 transform translate-y-10 translate-x-1
                          opacity-0 pointer-events-none copy-tooltip"
            >
              ¡Correo copiado!✅
            </span>
          </LinkButton>
        </div>
      </div>
    </aside>
    <section>
      {/* Navbar */}
      <nav class="flex items-center justify-end px-4 gap-4 border-b">
        {/* LinkedIn Badge */}
        <a href="https://www.linkedin.com/in/alvarogmez/" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105">
          <LinkedInBadge />
        </a>
        <Image src={logotipo} alt="Foto de perfil del porfolio" loading="eager" class="size-10 border border-[--border-color] rounded-full" />
      </nav>
      <main class="p-6 overflow-y-auto scroll-smooth">
        <section>
          {/* About me */}
          <article id="about" class="flex rounded-3xl bg-animated-gradient">
            <div class="flex flex-col justify-between w-fit m-6">
              {/* Introduction */}
              <h1 class="text-4xl font-bold">Hola, soy Álvaro Gómez</h1>
              <p class="my-4 text-pretty leading-7">
                Desarrollador y Programador Web con experiencia en tecnologías modernas como Angular, Spring Boot y más. Crea aplicaciones web rápidas y eficientes con un enfoque en la experiencia del usuario.
              </p>

              {/* Curriculum Vitae */}
              <div class="flex gap-4">
                <a href="public/Álvaro_Gómez_CV.pdf" download="Álvaro_Gómez_CV.pdf" class="w-fit rounded-full px-4 py-1 bg-white/60 text-black transition hover:bg-white/90 hover:scale-105">
                  <button>Descargar CV</button>
                </a>
              </div>
            </div>

            {/* Avatar Image */}
            <div class="flex items-center justify-center w-1/3">
              <Image src={avatar} alt="Avatar de Álvaro Gómez" loading="eager" class="animate-float" />
            </div>
          </article>

          <!-- {/* Jobs */}
          <article id="jobs" class="mt-10">
            <Title title="Mi Experiencia"/>
            <div class="p-4 bg-[var(--main-bg)] rounded-2xl">
              <Jobs />
            </div>
          </article> -->
    
          {/* Projects */}
          <article id="projects">
            <Title title="Mis Proyectos"/>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 sm:grid-cols-1">
              <Project />
            </div>
          </article>

          {/* Education */}
          <article id="education">
            <Title title="Mi Educación"/>
            <div class="p-4 bg-[var(--main-bg)] rounded-2xl">
              <Education />
            </div>
          </article>

          {/* Skills */}
          <article id="skills">
            <Title title="Mis Habilidades"/>
            <Skills />
          </article>
        </section>
      </main>
    </section>
  </section>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      // Recoger los botones de copia
      const buttons = document.querySelectorAll(".copy-btn");

      // Recorre cada boton y añade el evento de click
      buttons.forEach(btn => {
        btn.addEventListener("click", async (e) => {
          e.preventDefault();

          // Comprueba que el click viene del boton
          const target = e.target.closest(".copy-btn");
          if (!target) return;

          // Recoge el valor a copiar
          const value = btn.getAttribute("data-copy");
          if (!value) return;

          try {
            await navigator.clipboard.writeText(value);

            const tooltip = btn.querySelector(".copy-tooltip");
            if(tooltip) {
              tooltip.classList.remove("opacity-0", "pointer-events-none", "translate-y-1");
              tooltip.classList.add("opacity-100", "-translate-y-1");
              
              setTimeout(() => {
                tooltip.classList.add("opacity-0", "pointer-events-none", "translate-y-1");
                tooltip.classList.remove("opacity-100", "-translate-y-1");
              }, 1200);
            }
          } catch (err) {
            console.error("Error al copiar", err);
          }
        });
      });
    });
  </script>
</Layout>
