---
import Badge from '../components/Badge.astro';
import GitHubIcon from '../assets/icons/GitHub-Icon.astro';
import HTMLIcon from '../assets/icons/HTML-Icon.astro';
import CSSIcon from '../assets/icons/CSS-Icon.astro';
import JavaScriptIcon from '../assets/icons/JS-Icon.astro';
import AngularIcon from '../assets/icons/Angular-Icon.astro';
import TypeScriptIcon from '../assets/icons/TS-Icon.astro';
import SpringBootIcon from '../assets/icons/SpringBoot-Icon.astro';
import BootStrapIcon from '../assets/icons/BootStrap-Icon.astro';
import PhpIcon from '../assets/icons/Php-Icon.astro';
import MysqlIcon from '../assets/icons/MySQL-Icon.astro';

// Styles
import '../styles/global.css';

interface Project {
    title: string;
    description: string;
    link: string;
    github: string;
    image: string;
    images: string;
    tags: string[];
}

const TAG_ICONS: Record<string, any> = {
    HTML: HTMLIcon,
    CSS: CSSIcon,
    JavaScript: JavaScriptIcon,
    Angular: AngularIcon,
    TypeScript: TypeScriptIcon,
    'Spring Boot': SpringBootIcon,
    BootStrap: BootStrapIcon,
    PHP: PhpIcon,
    MySQL: MysqlIcon,

};


const PROJECTS = [
    {
        title: 'EVG - Gesti贸n de Formaciones',
        description: 'Aplicaci贸n web para gestionar las formaciones de los educadores en un centro educativo, desarrollada como Proyecto de Fin de Grado.',
        link: '#',
        github: 'https://github.com/Alvaro-Gmez/gestion-formaciones-EVG.git',
        image: 'public/assets/images/gestionFormacionesEVG.png',
        tags: ['Angular', 'TypeScript', 'PHP', ]
    },
    {
        title: 'Gestor de servicios',
        description: 'Plataforma web para la gesti贸n de , desarrollada como Proyecto de Fin de Grado en la empresa Vitaly',
        link: '#',
        github: '',
        image: 'public/assets/images/gestorServiciosVITALY.png',
        tags: ['Angular', 'TypeScript', 'BootStrap', 'Spring Boot']
    },
    {
        title: 'Shopper Mario',
        description: 'Juego web arcade inspirado en Mario Bros, desarrollado como parte de un proyecto escolar.',
        link: '#',
        github: 'https://github.com/Alvaro-Gmez/ABP_Shopper_Mario.git',
        image: 'public/assets/images/shopperMario.png',
        tags: ['HTML', 'CSS', 'JavaScript']
    },
    // {
    //     title: 'Reserva de Libros - Proyecto Escolar',
    //     description: 'Aplicaci贸n web para la reserva de libros , desarrollada como parte de un proyecto escolar.',
    //     link: '#',
    //     github: 'https://github.com/Alvaro-Gmez/ABP_Reservas_Libros.git',
    //     image: '',
    //     tags: ['Angular', 'TypeScript']
    // }
];


---
{
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
        <article class="flex flex-col justify-between border-2 rounded-lg p-2 border-[var(--border-color)] text-center transition hover:bg-[var(--hover-bg)]">
            <div class="flex flex-col lg:flex-row lg:justify-center lg:items-center h-[217px] gap-4">
                <img src={image} alt={title} class="w-full lg:order-2"/>
            </div>
            <div class="flex flex-col justify-between h-[205px] py-4">
                <h3 class="font-semibold text-2xl mb-2">{title}</h3>
                <div class="flex flex-wrap justify-center gap-2 mb-2">
                    {tags.map(tag => {
                        const Icon = TAG_ICONS[tag];
                        return (
                            <Badge>
                                <span class="flex items-center gap-2">
                                    {tag}
                                    {Icon && <Icon/>}
                                </span>
                            </Badge>
                        );
                    })}
                </div>
                <p class="my-3 text-pretty">{description}</p>
            </div>
            <div class="flex justify-center gap-4 lg:order-3">
                {github ? (
                    <a 
                        href={github} 
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex justify-center items-center gap-2 px-2 py-1 rounded-lg bg-purple-900 hover:bg-purple-500 hover:text-black"
                    >
                        Ver en GitHub
                        <GitHubIcon/>
                    </a>
                ) : (
                    <button 
                        disabled
                        class="flex justify-center items-center gap-2 px-2 py-1 rounded-lg bg-gray-400 text-gray-700 cursor-not-allowed"
                    >
                        Proyecto bajo NDA
                    </button>
                )}
            </div>
        </article>
    ))  
}