---
import '../styles/global.css';

const PROJECTS = [
    {
        title: 'Proyecto 1',
        description: 'Descripción breve del proyecto 1.',
        link: '#',
        github: '#',
        image: 'https://placehold.co/300x200',
        tags: ['Angular', 'TypeScript']
    },
    {
        title: 'Proyecto 2',
        description: 'Descripción breve del proyecto 2.',
        link: '#',
        github: '#',
        image: 'https://placehold.co/300x200',
        tags: ['Angular', 'TypeScript']
    },
    {
        title: 'Proyecto 3',
        description: 'Descripción breve del proyecto 3.',
        link: '#',
        github: '#',
        image: 'https://placehold.co/300x200',
        tags: ['Angular', 'TypeScript']
    }
];


---
{
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
        <article class="w-full border-2 rounded-lg border-[var(--border-color)]">
            <img src={image} alt={title} class="w-full"/>
            <h3>{title}</h3>
            <p>{description}</p>
            <div>
                {tags.map(tag => (
                    <span>{tag}</span>
                ))}
            </div>
            <div>
                <a href={link} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
                <a href={github} target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
        </article>
    ))  
}